@font-face {
  font-family: "ClearSansRegular";
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"), url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ClearSansBold";
  src: url("../fonts/ClearSansBold/ClearSansBold.eot");
  src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"), url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"), url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  font-style: normal;
}

li {
  list-style: none;
}

p,
h1,
h2,
h3,
span,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #3a4047;
}

.container {
  max-width: 1200px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
}

.call-me-up {
  position: relative;
}

.call-me-up .call-me {
  position: absolute;
  top: -54px;
  right: -83px;
}

.call-me-down {
  position: relative;
}

.call-me-down .call-me {
  position: absolute;
  top: -54px;
  right: -83px;
}

.logo {
  display: flex;
  font-family: "Proxima nova", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.logo .main-part {
  font-size: 48px;
  color: #1ab0ce;
}

.logo .secondary-part {
  margin-left: 2px;
  font-size: 15px;
  color: #3a4047;
}

.img-logo {
  margin-right: 10px;
}

.box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.header-first-part {
  display: flex;
  padding-top: 17px;
  padding-bottom: 19px;
}

.header-about-us {
  margin-left: 62px;
  max-width: 375px;
  text-align: center;
}

.header-about-us .what-we-do {
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 19px;
  color: #3a4047;
}

.header-about-us .work-hour {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #3a4047;
}

.area-email-container {
  margin-left: 69px;
  display: flex;
  justify-content: space-between;
  width: 347px;
}

.area-email-container .personal-area {
  position: relative;
  font-size: 14px;
  text-decoration-line: underline;
  color: #3a4047;
}

.area-email-container .personal-area .icon {
  position: absolute;
  top: 2px;
  left: -15px;
}

.area-email-container .contact-email {
  display: block;
  padding-bottom: 2px;
  font-size: 14px;
  text-decoration-line: underline;
  color: #3a4047;
}

.phone-numbers {
  position: relative;
  padding-right: 25px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.18;
  text-align: right;
  color: #3a4047;
}

.phone-numbers .facebook-icon {
  position: absolute;
  left: 219px;
}

.phone-numbers .main-number {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #3a4047;
}

.phone-numbers .main-number .phone-img {
  position: absolute;
  left: 242px;
}

.phone-numbers .header-secondary-number-container {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  top: 37px;
  right: -10px;
  padding-top: 30px;
  padding-left: 65px;
  text-align: left;
  width: 210px;
  height: 170px;
  background-color: #ffffff;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15);
}

.phone-numbers .header-secondary-number-container.is-open {
  opacity: 1;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
}

.phone-numbers .secondary-number {
  position: relative;
  display: block;
  color: #3a4047;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phone-numbers .secondary-number .number-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
}

.phone-numbers .phone-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  top: 0px;
  left: 398px;
  background-color: #ededed;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
}

.navigation-list li {
  position: relative;
}

.navigation-list li:hover .item::after,
.navigation-list li:focus .item::after {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list li:hover .item,
.navigation-list li:focus .item {
  color: #1ab0ce;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list li + li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  display: block;
  height: 14px;
  width: 1px;
  background-color: #e8edf2;
}

.navigation-list .item {
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-left: 34px;
  padding-right: 34px;
  color: #3a4047;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .item::after {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #1ab0ce;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.squere {
  position: absolute;
  z-index: 21;
  top: -10px;
  right: 0px;
}

.navigation-line {
  display: flex;
}

.navigation-line .search-container {
  position: relative;
}

.navigation-line .search-container .search-form:focus .search-input,
.navigation-line .search-container .search-form:hover .search-input {
  opacity: 1;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
}

.navigation-line .search-container .search-input {
  position: absolute;
  width: 115px;
  top: 17px;
  left: -10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-line .search-container .search-input:placeholder-shown {
  opacity: 0;
  transform: scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.navigation-line .search-container .search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 104px;
  border: none;
  background-color: transparent;
}

.shopping-cart-container {
  position: relative;
  margin-left: 19px;
  margin-top: 8px;
}

.shopping-cart-container .shopping-cart {
  position: absolute;
  left: 0px;
  top: 0px;
}

.shopping-cart-container .ellipse {
  position: absolute;
  top: -8px;
  left: 34px;
}

.hero-section {
  margin-right: auto;
  margin-left: auto;
  padding-top: 153px;
  height: 500px;
  max-width: 1920px;
  background-color: #2e2c2c;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/hero-bacg-img1920@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/hero-bacg-img3840@2x.jpg);
  }
}

.hero-text {
  text-align: center;
  color: #ffffff;
}

.hero-text h1 {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 1.17;
  align-items: center;
}

.hero-text h1::after {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  content: "";
  width: 120px;
  height: 2px;
  background-color: #ffffff;
}

.hero-text p {
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 1.16;
}

.make-an-order {
  min-width: 200px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #ffffff;
  background-color: #1ab0ce;
  border: 1px solid #1ab0ce;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.make-an-order:hover, .make-an-order:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #1ab0ce;
  background-color: #ffffff;
}

.our-products-section {
  padding-top: 29px;
  padding-bottom: 16px;
}

.our-products-section h2 {
  margin-bottom: 44px;
}

.our-products-section h3 {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.18;
  text-align: left;
  text-transform: uppercase;
  color: #3a4047;
}

.our-products-section .main-item {
  position: relative;
  height: 291px;
  padding-top: 29px;
  padding-left: 120px;
  padding-right: 28px;
  font-size: 14px;
  line-height: 1.14;
  color: #3a4047;
  border: 1px solid #dce1e6;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.our-products-section .main-item .product-icon {
  position: absolute;
  top: 25px;
}

.our-products-section .main-item .blank {
  left: 29px;
}

.our-products-section .main-item .map {
  left: 34px;
}

.our-products-section .main-item .book {
  left: 39px;
}

.product-examples-list {
  display: flex;
  justify-content: space-between;
}

.list-flex {
  display: flex;
  justify-content: space-between;
}

.secondary-product-list {
  height: 100%;
}

.secondary-product-list li:not(:last-child) {
  margin-bottom: 22px;
}

.about-us-section {
  padding-top: 16px;
  padding-bottom: 35px;
  text-align: center;
}

.about-us-section h2 {
  margin-bottom: 13px;
}

.about-us-section h3 {
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #3a4047;
}

.about-us-section p {
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #3a4047;
}

.news-section {
  padding-top: 33px;
  padding-bottom: 49px;
  text-align: center;
}

.news-section h2 {
  margin-bottom: 50px;
}

.news-section .news-list {
  display: flex;
  margin-bottom: 51px;
}

.news-section .news-list a {
  display: block;
  width: 100%;
  height: 100%;
}

.news-section .news-list li {
  padding-top: 29px;
  padding-right: 14px;
  padding-left: 14px;
  min-height: 170px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.news-section .news-list li:hover, .news-section .news-list li:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
}

.news-section .news-list li:hover p, .news-section .news-list li:focus p {
  color: #1ab0ce;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.news-section .news-list p {
  margin-top: 14px;
  font-size: 16px;
  line-height: 19px;
  color: #3a4047;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.news-section .news-list time {
  font-size: 14px;
  line-height: 16px;
  color: #bec7d1;
}

.all-news-buttton {
  min-width: 190px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #1ab0ce;
  background-color: #ffffff;
  border: 1px solid #1ab0ce;
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-news-buttton:hover, .all-news-buttton:focus {
  color: #ffffff;
  background-color: #1ab0ce;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section {
  width: 100%;
  background: #f7f7f7;
}

.footer-section .container {
  padding-right: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 32px;
  color: #3a4047;
}

.footer a {
  color: #3a4047;
}

.footer .nav-item {
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: underline;
}

.footer .studio {
  position: relative;
  margin-top: 33px;
  font-family: "Cuprum", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

.rights-reserved {
  margin-top: 39px;
  font-size: 14px;
  line-height: 16px;
}

.footer-about-us {
  margin-top: 12px;
  margin-left: 42px;
  max-width: 261px;
  font-size: 14px;
  line-height: 21px;
}

.footer-about-us .what-we-do {
  margin-bottom: 25px;
}

.footer-navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  width: 274px;
}

.footer-navigation-container li:not(:last-child) {
  margin-bottom: 16px;
}

.contact-container {
  position: relative;
  text-align: right;
  padding-top: 9px;
  width: 200px;
}

.contact-container .main-number {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #3a4047;
}

.contact-container .footer-phone {
  position: absolute;
  top: 2px;
  left: -30px;
}

.contact-container .footer-facebook {
  position: absolute;
  top: 9px;
  left: 30px;
}

.contact-container .footer-phone-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  top: 9px;
  left: 207px;
  background-color: #ffffff;
}

.footer-contact-item {
  margin-top: 20px;
}

.glianec-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
}

.footer-secondary-number-container {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
  top: 45px;
  right: -35px;
  padding-top: 7px;
  padding-left: 65px;
  text-align: left;
  width: 210px;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.15);
}

.footer-secondary-number-container.is-open {
  opacity: 1;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 20;
}

.footer-secondary-number-container .secondary-number {
  position: relative;
  display: block;
  color: #3a4047;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-secondary-number-container .secondary-number .number-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
}
/*# sourceMappingURL=main.css.map */