.box-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.header-first-part {
  @media screen and (max-width: 767px) {
    position: relative;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  padding-top: 17px;
  padding-bottom: 19px;
}
.header-about-us {
  margin-left: 2%;
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
    text-align: left;
  }
  @media screen and (min-width: 1199px) {
    margin-left: 62px;
  }

  max-width: 375px;
  text-align: center;
  .what-we-do {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 19px;
    color: #3a4047;
  }
  .work-hour {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    color: #3a4047;
  }
}

.area-email-container {
  @media screen and (max-width: 767px) {
    margin-left: 17px;
  }
  margin-left: 69px;
  @media screen and (min-width: 1199px) {
    width: max-content;
    display: flex;
    justify-content: space-between;
    width: 347px;
  }

  .personal-area {
    position: relative;
    font-size: 14px;
    text-decoration-line: underline;

    color: #3a4047;
    .icon {
      position: absolute;
      top: 2px;
      left: -15px;
    }
  }
  .contact-email {
    display: block;
    padding-bottom: 2px;
    font-size: 14px;
    text-decoration-line: underline;

    color: #3a4047;
  }
}
.phone-numbers {
  position: relative;
  width: 180px;
  @media screen and (max-width: 767px) {
    margin-left: 17px;
  }
  margin-left: 40px;
  @media screen and (min-width: 1199px) {
    margin-left: auto;
  }
  padding-right: 25px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.18;
  text-align: right;

  color: #3a4047;
  .facebook-icon {
    position: absolute;
    left: -9%;
  }
  .main-number {
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #3a4047;
    .phone-img {
      position: absolute;
      left: 9%;
    }
  }
  .header-secondary-number-container {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: $time-function;
    z-index: 0;
    top: 37px;
    right: -10px;
    padding-top: 30px;
    padding-left: 65px;
    text-align: left;
    width: 210px;
    height: 170px;
    background-color: #ffffff;
    box-shadow: (0px 4px 45px rgba(0, 0, 0, 0.15));

    &.is-open {
      opacity: 1;
      transform: scale(1);
      transition: $time-function;
      z-index: 20;
    }
  }
  .secondary-number {
    position: relative;
    display: block;
    color: #3a4047;
    padding-top: 10px;
    padding-bottom: 10px;

    .number-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -35px;
    }
  }
  .phone-button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    top: 0px;
    right: -2%;
    background-color: #ededed;
  }
}
.navigation-list {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: left;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    height: 56px;
  }
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;

  li {
    position: relative;
    &:hover .item::after,
    &:focus .item::after {
      opacity: 1;
      transition: $time-function;
    }
    &:hover .item,
    &:focus .item {
      color: #1ab0ce;
      transition: $time-function;
    }
  }
  li + li::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: block;
    height: 14px;
    width: 1px;
    background-color: #e8edf2;
  }
  .item {
    display: block;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 34px;
    padding-right: 34px;
    color: #3a4047;
    transition: $time-function;
    &::after {
      position: absolute;
      top: 0px;
      right: 0px;
      opacity: 0;

      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #1ab0ce;
      transition: $time-function;
    }
  }
}
.squere {
  position: absolute;
  z-index: 21;
  top: -10px;
  right: 0px;
}
.navigation-line {
  @media screen and (max-width: 1199px) {
    position: relative;
  }
  display: flex;
  .search-container {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 18%;
      right: 30%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      position: absolute;
      bottom: 25%;
      right: 20%;
    }
    position: relative;
    .search-form {
      &:focus .search-input,
      &:hover .search-input {
        opacity: 1;
        transform: scale(1);
        transition: $time-function;
        z-index: 20;
      }
    }
    .search-input {
      position: absolute;
      width: 95px;

      &:placeholder-shown {
        opacity: 0;
        transform: scale(0);
        transition: $time-function;
        z-index: 0;
      }
      transition: $time-function;
      @media screen and (max-width: 1199px) {
        top: -12px;
        left: -15px;
      }
      @media screen and (min-width: 1200px) {
        top: 17px;
        left: -25px;
      }
    }
    .search-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 1199px) {
        left: 90px;
      }
      @media screen and (min-width: 1200px) {
        left: 70px;
      }
      border: none;
      background-color: transparent;
    }
  }
}
