.call-me-up {
  position: relative;
  .call-me {
    position: absolute;
    top: -54px;
    right: -7px;
    @media screen and (min-width: 1350px) {
      right: -83px;
    }
  }
}
.call-me-down {
  position: relative;
  .call-me {
    position: absolute;
    bottom: -54px;
    right: -7px;
    @media screen and (min-width: 1200px) and (max-width: 1349px) {
      bottom: -35px;
    }
    @media screen and (min-width: 1350px) {
      right: -83px;
    }
  }
}
