.shopping-cart-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 25%;
    right: 10%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 19px;
  }
  margin-right: 50px;
  margin-left: 5px;
  position: relative;

  margin-top: 8px;
  .shopping-cart {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .ellipse {
    position: absolute;
    top: -8px;
    left: 34px;
  }
}
