@font-face {
  font-family: "ClearSansRegular";
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ClearSansBold";
  src: url("../fonts/ClearSansBold/ClearSansBold.eot");
  src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
  src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
